.chat-container {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: 88px;
    gap: 20px;
    width: 400px;
    font-size: 16px;
  }

  .msgs-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .msg-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    width: -webkit-fill-available;
    max-width: 320px;
    background: #ffffff;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 16px;
  }

  .msg-container.other {
    align-self: flex-start;
    border-radius: 16px 16px 16px 0px;
  }

  .msg-container.me {
    align-self: flex-end;
    border-radius: 16px 16px 0px 16px;
  }

  .msg-header {
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-size: 14px;
  }

  .msg-interactive-elements {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    width: -webkit-fill-available;
  }

  .msg-interactive-elements button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 48px;
    height: 48px;
    background-color: #60c2aa;
    border-radius: 12px;
  }

  .msg-interactive-elements textarea {
    resize: none;
    width: -webkit-fill-available;
    height: 48px;
    max-height: max-content;
    overflow: hidden;
    box-sizing: border-box;
    padding: 12px 20px;
    gap: 8px;
    background-color: #ffffff;
    border: 1px solid #dcdcdf;
    border-radius: 12px;
    font: 400 16px/24px "Roboto";
    color: #373745;
  }
  .subject-name.x {
    color: #60c2aa;
  }

  .subject-name.zero {
    color: #e38bac;
  }