.GreenBtn:disabled{
    background-color: #60C2AA4D;
    border-radius: 12px;
    height: 48px;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    width: 90%;
}
.GreenBtn:enabled{
    background-color: #60c2aa;
    border-radius: 12px;
    height: 48px;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    width: 90%;
}
.GreenBtn:hover:enabled{
    background-color: #3BA189;
    border-radius: 12px;
    height: 48px;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    width: 90%;
}