.StatusBlockBlue{
    background-color: #87CAE8;
    border-radius: 12px;
    height: 35px;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 111px;
}
.StatusBlockGreen{
    background-color: #A8D37F;
    border-radius: 12px;
    height: 35px;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 111px;
}

.StatusBlockRed{
    background-color: #EC7777;
    border-radius: 12px;
    height: 35px;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 111px;
}
