.TextBox{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;
    margin: 12px;

    width: 90%;
    height: 48px;

    background: #FFFFFF;

    border: 1px solid #DCDCDF;
    border-radius: 12px;

    
    color: #373745;
}
.TextBox:hover{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;
    margin: 12px;

    width: 90%;
    height: 48px;

    background: #FFFFFF;

    border: 1px solid #60C2AA;
    border-radius: 12px;

    
    color: #373745;
}
.TextBox:focus-within{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;
    margin: 12px;

    width: 90%;
    height: 48px;

    background: #FFFFFF;

    border: 1px solid #3BA189;
    border-radius: 12px;

    
    color: #373745;
}
