.modalForm {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modalForm.active{
    pointer-events: all;
    opacity: 1;
}

.modalContent {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    width: 400px;
    transform: scale(0.5);
    transition: 0.4s all;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(6, 0.1fr);
    grid-gap: 15px 0px;
}
.modalContent > div:nth-child(1){
    grid-column-start: 3;
    margin-right: 0;
    margin-left: auto;
}
.modalContent > div:nth-child(2){
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
}
.modalContent > div:nth-child(3){
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: -1;
}
.modalContent > div:nth-child(5){
    grid-row-start: 4;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 15px 60px;
    grid-gap: 10px 10px;
    margin-left: 40px;
}
.modalContent > div:nth-child(5) > label:nth-child(1){
    grid-column-start: 1;
    grid-column-end: -1;
}
.modalContent > div:nth-child(5) > label:nth-child(2){
    grid-column-start: 1;
    grid-row-start: 2;
}
.modalContent > div:nth-child(6){
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: -1;
}
.modalContent.active{
    transform: scale(1);
}
/* для элемента input c type="radio" */
.custom-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  
  /* для элемента label связанного с .custom-radio */
  .custom-radio>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  
  /* создание в label псевдоэлемента  before со следующими стилями */
  .custom-radio>span::before {
    content: '';
    display: inline-block;
    width: 3em;
    height: 3em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../imgs/man.svg ");
    background-size: 70% 70%;
  }
  
  /* стили при наведении курсора на радио */
  .custom-radio>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #565a59;
  }
  
  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  .custom-radio>input:focus:not(:checked)+span::before {
    border-color: #80bdff;
  }
  
  /* стили для радиокнопки, находящейся в состоянии checked */
  .custom-radio>input:checked+span::before {
    border-color: #60C2AA;
    background-color: #60C2AA;
  }

  .custom-radio-woman>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  
  /* для элемента label связанного с .custom-radio */
  .custom-radio-woman>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  
  /* создание в label псевдоэлемента  before со следующими стилями */
  .custom-radio-woman>span::before {
    content: '';
    display: inline-block;
    width: 3em;
    height: 3em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../imgs/woman.svg ");
    background-size: 70% 70%;
  }
  
  /* стили при наведении курсора на радио */
  .custom-radio-woman>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #565a59;
  }
  
  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  .custom-radio-woman>input:focus:not(:checked)+span::before {
    border-color: #80bdff;
  }
  
  /* стили для радиокнопки, находящейся в состоянии checked */
  .custom-radio-woman>input:checked+span::before {
    border-color: #60C2AA;
    background-color: #60C2AA;
  }