.subject-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    height: fit-content;
    width: 400px;
    padding: 24px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    margin: 100px 0px 0px 40px;
  }

  .subject-list h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #373745;
    margin: 0;
  }

  .subject-list > .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: none;
    align-self: stretch;
  }

  .subject-list > .container > .subject-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
    flex: none;
    order: 0;
    align-self: stretch;
  }

  .subject-list .subject-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #373745;
  }

  .subject-list .subject-percent {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #898993;
  }

  .subject-list .subject-icon {
    width: 24px;
    height: 24px;
  }

  .subject-list .subject-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }