.first-string{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h3{
    margin-right: 80px;
    margin-top: 24px;
}
.main-container-active-players{
    margin: 390px auto 80px;
    padding: 32px 0 48px 32px;
    background-color: white;
    border-radius: 16px;
    width: 781px;
    box-shadow: 4px 0 20px rgba(44, 57, 121, 0.09);
}

.main-table-active-players {
    margin-top: 24px;
    font-size: 16px;
    width: 97%;
    border-collapse: collapse;
  }

.main-table-active-players th,
td {
    padding: 12px 25px;
    text-align: start;
    border-bottom: 0px solid #eeeff5;
    vertical-align: baseline;
}

.main-table-active-players td:first-child {
    width: 50%;
}