body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e5e5e5;
}
.login-block {
    width: 400px;
    text-align: center;
    padding: 40px 24px;
    border-radius: 16px;
    box-shadow: 4px 0 20px rgba(44, 57, 121, 0.09);
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
 }
h1 {
    margin: 20px 0;
    font-size: 24px;
    font-weight: 500;
}
.login-image {
    margin: 0 auto;
    width: 132px;
    height: 132px;
}
.login-button {
    background-color: #60c2aa;
    border-radius: 12px;
    height: 48px;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    width: 90%;
}