.main-history{
    margin: 40px auto 80px;
    padding: 32px 0 48px 32px;
    background-color: white;
    border-radius: 16px;
    width: 1026px;
    box-shadow: 4px 0 20px rgba(44, 57, 121, 0.09);
}
.table-history {
    margin-top: 24px;
    font-size: 16px;
    width: 97%;
    border-collapse: collapse;
  }

.table-history th,
td {
    padding: 12px 8px;
    text-align: start;
    border-bottom: 1px solid #eeeff5;
    vertical-align: baseline;
}

.table-history th {
    font-weight: 500;
}
.img-sym{
    margin: -2px;
    height: 16px;
    width: 16px;
    padding-right: 10px;
}
.img-win{
    margin: -6px;
    padding-left: 10px;
}

