.first-string-pl{
    display: flex;
    width: 97%;
    flex-direction: row;
    justify-content: space-between;
}
.main-list{
    margin: 800px auto 80px;
    padding: 32px 0 48px 32px;
    background-color: white;
    border-radius: 16px;
    width: 1416px;
    box-shadow: 4px 0 20px rgba(44, 57, 121, 0.09);
}
.table-list {
    margin-top: 24px;
    font-size: 16px;
    width: 97%;
    border-collapse: collapse;
}
.table-list  th,
td {
    
    text-align: start;
    border-bottom: 1px solid #eeeff5;
}
.table-list th {
    font-weight: 500;
}
.table-list tr {
    height: 64px;
}
