.main-container-raiting{
    margin: 296px auto 80px;
    padding: 32px 0 48px 32px;
    background-color: white;
    width: 400px;
    border-radius: 16px;
    width: 1026px;
    box-shadow: 4px 0 20px rgba(44, 57, 121, 0.09);
}
.main-table {
    margin-top: 24px;
    font-size: 16px;
    width: 97%;
    border-collapse: collapse;
  }

.main-table th,
td {
    padding: 12px 8px;
    text-align: start;
    border-bottom: 1px solid #eeeff5;
}

.main-table th {
    font-weight: 500;
}

.main-table th:first-child {
    width: 45%;
}
.main-table td:first-child {
    padding-top: 24px;
    width: 45%;
}
.win {
    color: #69b849;
}

.lose {
    color: #e93e3e;
}