.game-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 663px;
  }

  .game-time {
    padding: 16px;
    background: #ededed;
    border-radius: 12px;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.25px;
    color: #373745;
    width: fit-content;
  }

  .game-board {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    align-content: flex-start;
    width: 610px;
  }

  .game-board .cell {
    width: 200px;
    height: 200px;
    background: #ffffff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .game-step {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background: #373745;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #ffffff;
    width: 400px;
  }