* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #373745;
}

body {
  margin: 0;
  padding: 0;
  background: rgba(246, 246, 246, 1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


